on early-init
    # Set init and its forked children's oom_adj.
    write /proc/1/oom_score_adj -1000

on init
  # Assign reasonable ceiling values for socket rcv/snd buffers.
    # These should almost always be overridden by the target per the
    # the corresponding technology maximums.
    write /proc/sys/net/core/rmem_max  262144
    write /proc/sys/net/core/wmem_max  262144
    write /proc/sys/net/ipv4/ping_group_range "0 2147483647"
    write /proc/sys/net/unix/max_dgram_qlen 600

    # reflect fwmark from incoming packets onto generated replies
    write /proc/sys/net/ipv4/fwmark_reflect 1
    write /proc/sys/net/ipv6/fwmark_reflect 1

    # set fwmark on accepted sockets
    write /proc/sys/net/ipv4/tcp_fwmark_accept 1

    # disable icmp redirects
    write /proc/sys/net/ipv4/conf/all/accept_redirects 0
    write /proc/sys/net/ipv6/conf/all/accept_redirects 0

    # restricted is for system tasks that are being throttled
    # due to screen off.
    chown system system /dev/cpuset/restricted/tasks
    chmod 0664 /dev/cpuset/restricted/tasks
    mkdir /dev/cpuset/restricted
    copy /dev/cpuset/cpus /dev/cpuset/restricted/cpus
    copy /dev/cpuset/mems /dev/cpuset/restricted/mems

on late-fs
	# boot time fs tune
	write /sys/block/mmcblk0/queue/read_ahead_kb 2048
	write /sys/block/mmcblk0/queue/nr_requests 256
        write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 2048
	write /sys/block/dm-0/queue/read_ahead_kb 2048 
	write /sys/block/dm-1/queue/read_ahead_kb 2048


service immensity-post-boot /init.immensity.sh
    class late_start
    user root
    enabled
    oneshot  

on property:sys.boot_completed=1
	start immesity-post-boot
        exec u:r:init:s0 -- /init.immensity.sh
        exec u:r:su:s0 root root -- /init.immensity.sh
	exec u:r:magisk:s0 root root -- /init.immensity.sh

        setprop ro.vendor.qti.config.zram true
	write /proc/sys/vm/page-cluster 0
