on init 
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 5
    write /sys/module/cpu_boost/parameters/input_boost_ms 150

    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
